html,
body {
  height: 100%;
}

body {
	 display: -ms-flexbox;
  display: flex;
  /*-ms-flex-align: center;
	align-items: center;
 padding-top: 0px;
  padding-bottom: 0px;*/
  background-color: #ffffff;

}
a {color:#0054AD}
.form-signin {
	width: 100%;
	max-width: 330px;
	padding-top: 0px;
	padding-bottom: 60px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	z-index: 0;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 3;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  /*border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;*/
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  /*border-top-left-radius: 0;
  border-top-right-radius: 0;*/
}
.navbar {
	background-color:#A904A1; 
	padding: 0 20px 0 260px; 
	z-index:1;
	}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
	font-size: 18px;
}
.bg-img{
 background-image: url('images/landing-page-bg.png');
 background-size: cover;
 background-repeat: no-repeat;
shape-margin: -50px;
	
}
.btn-primary {
	background-color: #A904A1 !important;
	border-color: #A904A1;
}
.btn-primary:hover {
	background-color: #690164 !important;
	border-color: #690164 !important;
}
.btn-primary:active:focus {
	background-color: #690164 !important;
	border-color: #690164 !important;
}
.container{
	margin-top:-50px;
}
.margin-cols{
	margin-top: 80px;
	margin-bottom:-100px;
}
.logo {
	position:fixed;
	top: 6px;
	left: 10px;
	z-index:10;
 /* display: block;
  text-indent: -9999px;*/
  width: 200px;
	height: auto;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}
.nav-item {margin-right:8px;}
@media (max-width: 992px) {

}
@media (max-width: 768px) {
	.bg-img {
display:none;
	}
	#na-tagline {
		display:block;
		color: #000000;
	}
}